<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.Dao.DeptMapper" >
  <resultMap id="BaseResultMap" type="com.Pojo.Dept" >
    <id column="no" property="no" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="depttype" property="depttype" jdbcType="CHAR" />
    <result column="unitno" property="unitno" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    no, name, depttype, unitno
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from dept
    where no = #{no,jdbcType=VARCHAR}
  </select>
  <select id="selectByUnitno" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from dept
    where unitno = #{unitno,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from dept
    where no = #{no,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.Pojo.Dept" >
    insert into dept (no, name, depttype, 
      unitno)
    values (#{no,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{depttype,jdbcType=CHAR}, 
      #{unitno,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.Pojo.Dept" >
    insert into dept
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="no != null" >
        no,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="depttype != null" >
        depttype,
      </if>
      <if test="unitno != null" >
        unitno,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="no != null" >
        #{no,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="depttype != null" >
        #{depttype,jdbcType=CHAR},
      </if>
      <if test="unitno != null" >
        #{unitno,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.Pojo.Dept" >
    update dept
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="depttype != null" >
        depttype = #{depttype,jdbcType=CHAR},
      </if>
      <if test="unitno != null" >
        unitno = #{unitno,jdbcType=VARCHAR},
      </if>
    </set>
    where no = #{no,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.Pojo.Dept" >
    update dept
    set name = #{name,jdbcType=VARCHAR},
      depttype = #{depttype,jdbcType=CHAR},
      unitno = #{unitno,jdbcType=VARCHAR}
    where no = #{no,jdbcType=VARCHAR}
  </update>
</mapper>