<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.Dao.DrwbzjjlbMapper" >
  <resultMap id="BaseResultMap" type="com.Pojo.Drwbzjjlb" >
    <id column="lsh" property="lsh" jdbcType="BIGINT" />
    <result column="yg" property="yg" jdbcType="VARCHAR" />
    <result column="drgwbzj" property="drgwbzj" jdbcType="INTEGER" />
    <result column="pbzj" property="pbzj" jdbcType="INTEGER" />
    <result column="zxlzzj" property="zxlzzj" jdbcType="INTEGER" />
    <result column="skzj" property="skzj" jdbcType="INTEGER" />
    <result column="jsl" property="jsl" jdbcType="INTEGER" />
    <result column="qt" property="qt" jdbcType="INTEGER" />
    <result column="drzjms" property="drzjms" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    lsh, yg, drgwbzj, pbzj, zxlzzj, skzj, jsl, qt, drzjms
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from drwbzjjlb
    where lsh = #{lsh,jdbcType=BIGINT}
  </select>
  <select id="selectByYg" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from drwbzjjlb
    where yg = #{yg,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from drwbzjjlb
    where lsh = #{lsh,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.Pojo.Drwbzjjlb" >
    insert into drwbzjjlb (lsh, yg, drgwbzj, 
      pbzj, zxlzzj, skzj, 
      jsl, qt, drzjms)
    values (#{lsh,jdbcType=BIGINT}, #{yg,jdbcType=VARCHAR}, #{drgwbzj,jdbcType=INTEGER}, 
      #{pbzj,jdbcType=INTEGER}, #{zxlzzj,jdbcType=INTEGER}, #{skzj,jdbcType=INTEGER}, 
      #{jsl,jdbcType=INTEGER}, #{qt,jdbcType=INTEGER}, #{drzjms,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.Pojo.Drwbzjjlb" >
    insert into drwbzjjlb
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="lsh != null" >
        lsh,
      </if>
      <if test="yg != null" >
        yg,
      </if>
      <if test="drgwbzj != null" >
        drgwbzj,
      </if>
      <if test="pbzj != null" >
        pbzj,
      </if>
      <if test="zxlzzj != null" >
        zxlzzj,
      </if>
      <if test="skzj != null" >
        skzj,
      </if>
      <if test="jsl != null" >
        jsl,
      </if>
      <if test="qt != null" >
        qt,
      </if>
      <if test="drzjms != null" >
        drzjms,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="lsh != null" >
        #{lsh,jdbcType=BIGINT},
      </if>
      <if test="yg != null" >
        #{yg,jdbcType=VARCHAR},
      </if>
      <if test="drgwbzj != null" >
        #{drgwbzj,jdbcType=INTEGER},
      </if>
      <if test="pbzj != null" >
        #{pbzj,jdbcType=INTEGER},
      </if>
      <if test="zxlzzj != null" >
        #{zxlzzj,jdbcType=INTEGER},
      </if>
      <if test="skzj != null" >
        #{skzj,jdbcType=INTEGER},
      </if>
      <if test="jsl != null" >
        #{jsl,jdbcType=INTEGER},
      </if>
      <if test="qt != null" >
        #{qt,jdbcType=INTEGER},
      </if>
      <if test="drzjms != null" >
        #{drzjms,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.Pojo.Drwbzjjlb" >
    update drwbzjjlb
    <set >
      <if test="yg != null" >
        yg = #{yg,jdbcType=VARCHAR},
      </if>
      <if test="drgwbzj != null" >
        drgwbzj = #{drgwbzj,jdbcType=INTEGER},
      </if>
      <if test="pbzj != null" >
        pbzj = #{pbzj,jdbcType=INTEGER},
      </if>
      <if test="zxlzzj != null" >
        zxlzzj = #{zxlzzj,jdbcType=INTEGER},
      </if>
      <if test="skzj != null" >
        skzj = #{skzj,jdbcType=INTEGER},
      </if>
      <if test="jsl != null" >
        jsl = #{jsl,jdbcType=INTEGER},
      </if>
      <if test="qt != null" >
        qt = #{qt,jdbcType=INTEGER},
      </if>
      <if test="drzjms != null" >
        drzjms = #{drzjms,jdbcType=VARCHAR},
      </if>
    </set>
    where lsh = #{lsh,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.Pojo.Drwbzjjlb" >
    update drwbzjjlb
    set yg = #{yg,jdbcType=VARCHAR},
      drgwbzj = #{drgwbzj,jdbcType=INTEGER},
      pbzj = #{pbzj,jdbcType=INTEGER},
      zxlzzj = #{zxlzzj,jdbcType=INTEGER},
      skzj = #{skzj,jdbcType=INTEGER},
      jsl = #{jsl,jdbcType=INTEGER},
      qt = #{qt,jdbcType=INTEGER},
      drzjms = #{drzjms,jdbcType=VARCHAR}
    where lsh = #{lsh,jdbcType=BIGINT}
  </update>
</mapper>