<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.Dao.GzkxxbMapper" >
  <resultMap id="BaseResultMap" type="com.Pojo.Gzkxxb" >
    <id column="lsh" property="lsh" jdbcType="BIGINT" />
    <result column="yg" property="yg" jdbcType="VARCHAR" />
    <result column="xm" property="xm" jdbcType="VARCHAR" />
    <result column="khyh" property="khyh" jdbcType="BIGINT" />
    <result column="zhkh" property="zhkh" jdbcType="VARCHAR" />
    <result column="zt" property="zt" jdbcType="INTEGER" />
    <result column="bz" property="bz" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    lsh, yg, xm, khyh, zhkh, zt, bz
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from gzkxxb
    where lsh = #{lsh,jdbcType=BIGINT}
  </select>
  <select id="selectByYg" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from gzkxxb
    where yg = #{yg,jdbcType=VARCHAR}
  </select>
  <select id="selectByKhyh" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from gzkxxb
    where khyh = #{khyh,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from gzkxxb
    where lsh = #{lsh,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.Pojo.Gzkxxb" >
    insert into gzkxxb (lsh, yg, xm, khyh, 
      zhkh, zt, bz)
    values (#{lsh,jdbcType=BIGINT}, #{yg,jdbcType=VARCHAR}, #{xm,jdbcType=VARCHAR}, #{khyh,jdbcType=BIGINT}, 
      #{zhkh,jdbcType=VARCHAR}, #{zt,jdbcType=INTEGER}, #{bz,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.Pojo.Gzkxxb" >
    insert into gzkxxb
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="lsh != null" >
        lsh,
      </if>
      <if test="yg != null" >
        yg,
      </if>
      <if test="xm != null" >
        xm,
      </if>
      <if test="khyh != null" >
        khyh,
      </if>
      <if test="zhkh != null" >
        zhkh,
      </if>
      <if test="zt != null" >
        zt,
      </if>
      <if test="bz != null" >
        bz,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="lsh != null" >
        #{lsh,jdbcType=BIGINT},
      </if>
      <if test="yg != null" >
        #{yg,jdbcType=VARCHAR},
      </if>
      <if test="xm != null" >
        #{xm,jdbcType=VARCHAR},
      </if>
      <if test="khyh != null" >
        #{khyh,jdbcType=BIGINT},
      </if>
      <if test="zhkh != null" >
        #{zhkh,jdbcType=VARCHAR},
      </if>
      <if test="zt != null" >
        #{zt,jdbcType=INTEGER},
      </if>
      <if test="bz != null" >
        #{bz,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.Pojo.Gzkxxb" >
    update gzkxxb
    <set >
      <if test="yg != null" >
        yg = #{yg,jdbcType=VARCHAR},
      </if>
      <if test="xm != null" >
        xm = #{xm,jdbcType=VARCHAR},
      </if>
      <if test="khyh != null" >
        khyh = #{khyh,jdbcType=BIGINT},
      </if>
      <if test="zhkh != null" >
        zhkh = #{zhkh,jdbcType=VARCHAR},
      </if>
      <if test="zt != null" >
        zt = #{zt,jdbcType=INTEGER},
      </if>
      <if test="bz != null" >
        bz = #{bz,jdbcType=VARCHAR},
      </if>
    </set>
    where lsh = #{lsh,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.Pojo.Gzkxxb" >
    update gzkxxb
    set yg = #{yg,jdbcType=VARCHAR},
      xm = #{xm,jdbcType=VARCHAR},
      khyh = #{khyh,jdbcType=BIGINT},
      zhkh = #{zhkh,jdbcType=VARCHAR},
      zt = #{zt,jdbcType=INTEGER},
      bz = #{bz,jdbcType=VARCHAR}
    where lsh = #{lsh,jdbcType=BIGINT}
  </update>
</mapper>