<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.Dao.MhxtdlmmbMapper" >
  <resultMap id="BaseResultMap" type="com.Pojo.Mhxtdlmmb" >
    <id column="lsh" property="lsh" jdbcType="BIGINT" />
    <result column="dlmm" property="dlmm" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    lsh, dlmm
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from mhxtdlmmb
    where lsh = #{lsh,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mhxtdlmmb
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from mhxtdlmmb
    where lsh = #{lsh,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.Pojo.Mhxtdlmmb" >
    insert into mhxtdlmmb (lsh, dlmm)
    values (#{lsh,jdbcType=BIGINT}, #{dlmm,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.Pojo.Mhxtdlmmb" >
    insert into mhxtdlmmb
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="lsh != null" >
        lsh,
      </if>
      <if test="dlmm != null" >
        dlmm,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="lsh != null" >
        #{lsh,jdbcType=BIGINT},
      </if>
      <if test="dlmm != null" >
        #{dlmm,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.Pojo.Mhxtdlmmb" >
    update mhxtdlmmb
    <set >
      <if test="dlmm != null" >
        dlmm = #{dlmm,jdbcType=VARCHAR},
      </if>
    </set>
    where lsh = #{lsh,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.Pojo.Mhxtdlmmb" >
    update mhxtdlmmb
    set dlmm = #{dlmm,jdbcType=VARCHAR}
    where lsh = #{lsh,jdbcType=BIGINT}
  </update>
</mapper>