<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.Dao.PoqkxxbMapper" >
  <resultMap id="BaseResultMap" type="com.Pojo.Poqkxxb" >
    <id column="lsh" property="lsh" jdbcType="BIGINT" />
    <result column="yg" property="yg" jdbcType="VARCHAR" />
    <result column="xm" property="xm" jdbcType="VARCHAR" />
    <result column="sfzhm" property="sfzhm" jdbcType="VARCHAR" />
    <result column="hydjsj" property="hydjsj" jdbcType="TIMESTAMP" />
    <result column="csny" property="csny" jdbcType="TIMESTAMP" />
    <result column="whcd" property="whcd" jdbcType="VARCHAR" />
    <result column="zzmm" property="zzmm" jdbcType="INTEGER" />
    <result column="hjszd" property="hjszd" jdbcType="VARCHAR" />
    <result column="gzdw" property="gzdw" jdbcType="VARCHAR" />
    <result column="zw" property="zw" jdbcType="VARCHAR" />
    <result column="sjhm" property="sjhm" jdbcType="VARCHAR" />
    <result column="bz" property="bz" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    lsh, yg, xm, sfzhm, hydjsj, csny, whcd, zzmm, hjszd, gzdw, zw, sjhm, bz
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from poqkxxb
    where lsh = #{lsh,jdbcType=BIGINT}
  </select>
  <select id="selectByYg" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from poqkxxb
    where yg = #{yg,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from poqkxxb
    where lsh = #{lsh,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.Pojo.Poqkxxb" >
    insert into poqkxxb (lsh, yg, xm, sfzhm, 
      hydjsj, csny, whcd, 
      zzmm, hjszd, gzdw, 
      zw, sjhm, bz)
    values (#{lsh,jdbcType=BIGINT}, #{yg,jdbcType=VARCHAR}, #{xm,jdbcType=VARCHAR}, #{sfzhm,jdbcType=VARCHAR}, 
      #{hydjsj,jdbcType=TIMESTAMP}, #{csny,jdbcType=TIMESTAMP}, #{whcd,jdbcType=VARCHAR}, 
      #{zzmm,jdbcType=INTEGER}, #{hjszd,jdbcType=VARCHAR}, #{gzdw,jdbcType=VARCHAR}, 
      #{zw,jdbcType=VARCHAR}, #{sjhm,jdbcType=VARCHAR}, #{bz,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.Pojo.Poqkxxb" >
    insert into poqkxxb
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="lsh != null" >
        lsh,
      </if>
      <if test="yg != null" >
        yg,
      </if>
      <if test="xm != null" >
        xm,
      </if>
      <if test="sfzhm != null" >
        sfzhm,
      </if>
      <if test="hydjsj != null" >
        hydjsj,
      </if>
      <if test="csny != null" >
        csny,
      </if>
      <if test="whcd != null" >
        whcd,
      </if>
      <if test="zzmm != null" >
        zzmm,
      </if>
      <if test="hjszd != null" >
        hjszd,
      </if>
      <if test="gzdw != null" >
        gzdw,
      </if>
      <if test="zw != null" >
        zw,
      </if>
      <if test="sjhm != null" >
        sjhm,
      </if>
      <if test="bz != null" >
        bz,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="lsh != null" >
        #{lsh,jdbcType=BIGINT},
      </if>
      <if test="yg != null" >
        #{yg,jdbcType=VARCHAR},
      </if>
      <if test="xm != null" >
        #{xm,jdbcType=VARCHAR},
      </if>
      <if test="sfzhm != null" >
        #{sfzhm,jdbcType=VARCHAR},
      </if>
      <if test="hydjsj != null" >
        #{hydjsj,jdbcType=TIMESTAMP},
      </if>
      <if test="csny != null" >
        #{csny,jdbcType=TIMESTAMP},
      </if>
      <if test="whcd != null" >
        #{whcd,jdbcType=VARCHAR},
      </if>
      <if test="zzmm != null" >
        #{zzmm,jdbcType=INTEGER},
      </if>
      <if test="hjszd != null" >
        #{hjszd,jdbcType=VARCHAR},
      </if>
      <if test="gzdw != null" >
        #{gzdw,jdbcType=VARCHAR},
      </if>
      <if test="zw != null" >
        #{zw,jdbcType=VARCHAR},
      </if>
      <if test="sjhm != null" >
        #{sjhm,jdbcType=VARCHAR},
      </if>
      <if test="bz != null" >
        #{bz,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.Pojo.Poqkxxb" >
    update poqkxxb
    <set >
      <if test="yg != null" >
        yg = #{yg,jdbcType=VARCHAR},
      </if>
      <if test="xm != null" >
        xm = #{xm,jdbcType=VARCHAR},
      </if>
      <if test="sfzhm != null" >
        sfzhm = #{sfzhm,jdbcType=VARCHAR},
      </if>
      <if test="hydjsj != null" >
        hydjsj = #{hydjsj,jdbcType=TIMESTAMP},
      </if>
      <if test="csny != null" >
        csny = #{csny,jdbcType=TIMESTAMP},
      </if>
      <if test="whcd != null" >
        whcd = #{whcd,jdbcType=VARCHAR},
      </if>
      <if test="zzmm != null" >
        zzmm = #{zzmm,jdbcType=INTEGER},
      </if>
      <if test="hjszd != null" >
        hjszd = #{hjszd,jdbcType=VARCHAR},
      </if>
      <if test="gzdw != null" >
        gzdw = #{gzdw,jdbcType=VARCHAR},
      </if>
      <if test="zw != null" >
        zw = #{zw,jdbcType=VARCHAR},
      </if>
      <if test="sjhm != null" >
        sjhm = #{sjhm,jdbcType=VARCHAR},
      </if>
      <if test="bz != null" >
        bz = #{bz,jdbcType=VARCHAR},
      </if>
    </set>
    where lsh = #{lsh,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.Pojo.Poqkxxb" >
    update poqkxxb
    set yg = #{yg,jdbcType=VARCHAR},
      xm = #{xm,jdbcType=VARCHAR},
      sfzhm = #{sfzhm,jdbcType=VARCHAR},
      hydjsj = #{hydjsj,jdbcType=TIMESTAMP},
      csny = #{csny,jdbcType=TIMESTAMP},
      whcd = #{whcd,jdbcType=VARCHAR},
      zzmm = #{zzmm,jdbcType=INTEGER},
      hjszd = #{hjszd,jdbcType=VARCHAR},
      gzdw = #{gzdw,jdbcType=VARCHAR},
      zw = #{zw,jdbcType=VARCHAR},
      sjhm = #{sjhm,jdbcType=VARCHAR},
      bz = #{bz,jdbcType=VARCHAR}
    where lsh = #{lsh,jdbcType=BIGINT}
  </update>
</mapper>